<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/css/custom.css" />

    <script type="text/javascript" src="js/jquery.js" />
    <script type="text/javascript">
        var userId = undefined;

        var getConversionHistory = function(id) {
            $.ajax({
                type:"GET",
                url: "/user/" + id + "/conversion?limit=10",
                dataType: "json",
                success: function(conversions) {
                    $('#conversionHistory').empty();
                    $.each(conversions, function (i, item) {
                        console.log(item);
                        $('#conversionHistory').append(
                        '<li class="list-group-item">'
                        + item.date + "     " + item.amount + " " + item.baseCurrency + " = " + item.convertedAmount + " " + item.targetCurrency
                        + '</li>');
                    });
                }
            });
        }

        $(document).ready(function() {
            $.ajax({
                type:"GET",
                url: "/userId",
                success: function(data){
                    userId = data;
                    getConversionHistory(data);
                }
            });
            $.ajax({
                type:"GET",
                url: "/dictionary/currency",
                dataType: "json",
                success: function(cities) {
                    $.each(cities, function (i, item) {
                        $('#baseCurrencyCode').append($('<option></option>', {
                            value: item.code,
                            text : item.value
                        }));
                        $('#targetCurrencyCode').append($('<option></option>', {
                            value: item.code,
                            text : item.value
                        }));
                    });
                }
            });

           $("#converterForm").submit(function(e) {
                $.ajax({
                    type: "POST",
                    url: "/user/" + userId + "/conversion/",
                    data: {
                        amount: $('#amount').val(),
                        baseCurrencyCode: $('#baseCurrencyCode').val(),
                        targetCurrencyCode: $('#targetCurrencyCode').val()
                    },
                    beforeSend: function(xhr) {
                        $('#conversionError').text('');
                        $('#conversionInfo').text('Converting');
                    },
                    success: function(data) {
                        var selectedAmount = $('#amount').val();
                        var selectedBaseCurrency = $('#baseCurrencyCode').val();
                        var selectedTargetCurrency = $('#targetCurrencyCode').val();
                        $('#conversionInfo').text(selectedAmount + " " + selectedBaseCurrency + " equals " + data + " " + selectedTargetCurrency);
                        getConversionHistory(userId);
                    },
                    error: function(any) {
                        $('#conversionError').text(any)
                    }
                });
                e.preventDefault();
            });
        });
    </script>
</head>
<body>

<div class="center-block form-medium">
    <p id="conversionInfo" class="text-primary"></p>
    <p id="conversionError" class="text-danger"></p>
    <form id="converterForm" class="form-horizontal">
        <div class="form-group">
            <label for="amount" class="col-sm-2 control-label">Amount</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="amount" id="amount" placeholder="0.0"/>
            </div>
        </div>
        <div class="form-group">
            <label for="baseCurrencyCode" class="col-sm-2 control-label">Base</label>
            <div class="col-sm-5">
                <select class="form-control" name="baseCurrencyCode" id="baseCurrencyCode" placeholder="0.0">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="targetCurrencyCode" class="col-sm-2 control-label">Target</label>
            <div class="col-sm-5">
                <select class="form-control" name="targetCurrencyCode" id="targetCurrencyCode" placeholder="0.0">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-default">Calculate</button>
            </div>
        </div>
    </form>

    <h5>Conversion history</h5>
    <ul id="conversionHistory" class="list-group"></ul>
</div>

</body>
</html>
